.container {
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 100%;
  position: relative;
  background: #000;
}

.cell {
  margin: 0;
  padding-top: 3vh;
  padding-bottom: 3vh;
  min-height: 95vh;
}

.stage {
  margin: 0 inherit;
  min-height: 95vh;
  position: inherit;
  padding: none;
}

.stage ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.stage li {
  font-size: 2em;
  font-weight: 300;
  padding-top: 1vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

body {
  font-family: 'Roboto', sans-serif;
}

label > input { /* hide radio bttn */
  visibility: hidden;
  position: absolute;
}

#start {
  background-color: #FFF;
}

#issue_select {
  background-color: #FFF;
}

#requests {
  background-color: #EF586F;
}

#model_select {
  background-color: #FFF;
}

#color_select {
  background-color: #7BD2F6;
}

#estimate {
  background-color: #6D65AC;
}

#UserInfo {
  background-color: #FFF;
}

button:focus {outline:0;}
input:focus {outline:0;}

button {
  background: none;
  border: none;
}

.class-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

br {
  line-height: 10vh;
}

p5 {
  font-size: 1.5em;
  font-weight: 200;
  padding-left: 5vw;
  line-height: 0.5;
  padding-bottom: 3vh;
  color: White;
}

p1 {
  font-size: 7vh;
  text-align: center;
  font-weight: 200;
  color: White;
  position: relative;
}

p2 {
  font-size: 5vh;
  position: relative;
  text-align: center;
  font-weight: 200;
  color: White;
}
p3 {
  font-size: 3vh;
  position: relative;
  text-align: center;
  font-weight: 200;
  color: White;
}
p8 {
  font-size: 7vh;
  text-align: center;
  font-weight: 200;
  color: White;
  position: relative;
}

p9 {
  line-height: 25vh;
  font-size: 8vh;
  position: relative;
  text-align: center;
  font-weight: 200;
  color: White;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15vh;
  width: 50%;
  max-width: 40vh;
}

h1 {
  font-size: 6vh;
  font-weight: 100;
  text-align: center;
  color: Black;
  margin: 0 auto;
  position: relative;
  padding-top: 10vh;
  font-size-adjust: 5%;
}

#start_button {
  margin-top: 10vh;
}

input[type=reset] {
  background: #FFF;
  width: 30vh;
  border: 2px;
  border-style: solid;
  border-color: #93CA68;
  padding: 4vh;
  font-size: 3vh;
  font-weight: 100;
  text-align: center;
  color: Black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ========================================================== */
/* ========================================================== */

#init_issue {
  text-align: center;
  padding: 5vh;
  margin: 0;
}

.issue input{
  margin: 4vh;
  width: 40vh;
  margin-bottom: 0 auto;
  max-width: 200px;
}

input[type=image]:checked {
  border-radius: 40vh;
  background-color: #9e0477;
  filter: invert(100%);
}

input[type=image] {
  border: none;
}

#cracked_screen {
  width: 30vh;
  max-width: 300px;
  vertical-align: middle;
  float: 6% left;
  padding: 2vh;
}

#battery_dead {
  width: 30vh;
  max-width: 300px;
  vertical-align: middle;
  float: 6% right;
  margin: 0 auto;
  padding: 2vh;
}

#other_button {
  width: 30vh;
  vertical-align: middle;
  margin-top: 5vh;
}

/* ========================================================== */
/* ========================================================== */

#requests {
  text-align: center;
  margin: 0 auto;
}

#requests textarea[type=text] {
  background: transparent url(http://s24.postimg.org/62v2ipx81/underline.png) repeat;
  border: none;
  height: 20vh;
  width: 60vw;
  overflow: auto;
  line-height: 30px;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
}

#requests textarea::placeholder {
  line-height: 30px;
  font-size: 1em;
  font-weight: 100;
  color: #fff;
}

#next_button  {
  width: 20vh;
  max-width: 200px;
  margin-bottom: 5vh;
}

#next_button img{
  width: 20vh;
  vertical-align: middle;
}

/* ========================================================== */
/* ========================================================== */

.col1 {
  position: absolute;
  left: -9999px;
  padding-top: 30vh;
  padding-bottom: 30vh;
}
.col2 {
  position: absolute;
  left: -9999px;
  padding-top: 30vh;
  padding-bottom: 30vh;
  margin-top: 3vh;
}

.grid input[type=radio]:checked + label {
  border-radius: 40vh;
  background-color: #9e0477;
  filter: invert(100%);
}
.grid input[type=radio] + label {
  border: none;
}

.grid ul{
  width: 10vh;
  list-style: flex;
  display: grid;
  text-align: justify;
  grid-template-columns: repeat(auto-fill,minmax(80px, 5fr));
  grid-template-rows: repeat(auto-fill),minmax(200px, 1fr));
}
.grid li {
  border-radius: 5px;
  display: inline-block;
  padding: none;
  margin: 0;
}
#model_buttons {
  text-align: center;
  margin: 0 auto;; /*top right bottom left*/
  vertical-align: middle;
}

#model_buttons label {
 width: 16vh;
 height: 16vh;
 line-height: 16vh;
 display: block;

 vertical-align: middle;
 padding: none;
 margin: 3vh 6vh 3vh 6vh;

 border-radius: 100%;
 border: 2px solid;
 border-color: Black;
 color: Black;

 font-size: 7vh;
 text-align: center;
 font-weight: 300;
 position: relative;
}

/* ========================================================== */
/* ========================================================== */
.issue input{
  margin: 4vh;
  width: 40vh;
  margin-bottom: 0 auto;
  max-width: 200px;
}
#color_choice {
  text-align: center;
  display: block;
  position: relative;
  margin-top: 10vh;
}

.radio_rem input{
  position: absolute;
  left: -9999px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
#color_choice input[type=radio]:checked + label {
  background-color: #61fb88;
}
#color_choice input[type=radio] + label {
  background: none;
}

#color_choice label {
  width: 20vh;
  max-width: 300px;
  height: 41.22vh;
  max-height: 618.3vh;
  text-align: center;
  display: inline-block;
  padding: 30px;
  border-radius: 4vh;
  border: 2px solid;
  font-size: 5vh;
  line-height: 25vh;
  font-weight: 300;
  margin: 5vh 5vw 5vh 5vw;
  position: relative;
}

/* ========================================================== */
/* ========================================================== */


#estimate {
  text-align: center;
  vertical-align: middle;
}

#price_display {
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 100%;
  width: 25vh;
  height: 25vh;
  border: 2px solid;
  border-color: White;
  display: block;
}

#text {
  margin: 0 auto;
  padding-top: 10vh;
  max-width: 50vh;
}

#last_step  {
  width: 20vh;
  max-width: 200px;
  margin-bottom: 5vh;
}

#last_step img{
  width: 100%;
  vertical-align: middle;
}

#UserInfo {
  height: 100vh;
  font-weight: 300;
  padding-top: 1vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

#UserInfo input[type=text] {
  margin-top: 5vh;
  border: none;
  height: 6vh;
  width: 60vw;
  overflow: auto;
  line-height: 30px;
  font-size: 2.5vh;
  font-weight: 300;
  color: #000;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: Black;

}

#UserInfo input::placeholder {
  line-height: 30px;
  font-size: 2.5vh;
  font-weight: 300;
  color: #dfdfdf;
}

input[type=submit] {
  background: transparent url('https://i.imgur.com/ATIuXPy.png') no-repeat center scroll;
  background-size: contain;
  border: none;
  padding-top: 25vh;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 20vh;
}
