<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="margin:0" id="body">
  <div class="container">
    <div class="stage" id="start">
      <div class="cell">
          <img id="logo" src="images/Logo.png">
          <h1 id="welcome">Welcome to</h1>
          <input id="start_button" type="reset" value="Get Started" onclick="reset(); sScroll('issue_select')">

      </div>
      <br>
    </div>
<form action="#" class="form">
    <div class="stage" id="issue_select">
      <div class="cell">
        <ul>
          <li>Select from the options below</li>
          <li style="font-size: 1.5em; font-weight: 200;">Otherwise, select other</li>
        </ul>
            <div id="init_issue">
<!--onclick="crackedBttnSwap(); initIssueRes(this.id); sScroll('model_select'); return false;"-->
              <input id="cracked_screen" class="issue" type="image"  onclick="crackedBttnSwap(); initIssueRes(this.id); sScroll('model_select'); return false;" src="https://i.imgur.com/X7LBfvc.png" >
              <input id="battery_dead"   class="issue" type="image" onclick="batteryBttnSwap(); initIssueRes(this.id); sScroll('model_select'); return false;" src="https://i.imgur.com/G0Il9Ur.png">
              <br>
              <input id="other_button"   type="image" onclick="otherBttnSwap(); initIssueRes(this.id); sScroll('requests'); return false;" src="https://i.imgur.com/nxvapaK.png">
              <br>
            </div>
      </div>
    </div>

    <div class="stage" id="requests">
      <div class="cell">
        <div id="text">
          <p2>Any additional info or requests</p2><br>
        </div>
        <div>
          <textarea type="text" rows="4" TextMode="MultiLine" placeholder="i.e. My iPhone doesn't charge" id="userInput"></textarea><br>
          <button id="next_button" type="button" onclick="addRequest('userInput'); sScroll('model_select')"><img src="images/Next_Button.png"></button>
        </div>
      </div>
    </div>

    <div class="stage" id="model_select">
      <div class="cell">
        <ul>
          <li>Select your phone model</li>
          <li style="font-size: 1.5em; font-weight: 200;">(iPhone exclusive)</li><br>
        </ul>

          <label id="model_buttons">
            <ul class="grid">
              <li>
                <input class="col2" id="model_8+" type="radio" name="model" value="iPhone 8 Plus" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_8+">8+</label>
              </li>
              <li>
                <input class="col1" id="model_8" type="radio" name="model" value="iPhone 8" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_8">8</label>
              </li>
              <li>
                <input class="col2" id="model_7+" type="radio" name="model" value="iPhone 7 Plus" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_7+">7+</label>
              </li>
              <li>
                <input class="col1" id="model_7" type="radio" name="model" value="iPhone 7" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_7">7</label>
              </li>
              <li>
                <input class="col2" id="model_6s+" type="radio" name="model" value="iPhone 6s Plus" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_6s+">6s+</label>
              </li>
              <li>
                <input class="col1" id="model_6s" type="radio" name="model" value="iPhone 6s" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_6s">6s</label>
              </li>
              <li>
                <input class="col2" id="model_6+" type="radio" name="model" value="iPhone 6 Plus" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_6+">6+</label>
              </li>
              <li>
                <input class="col1" id="model_6" type="radio" name="model" value="iPhone 6" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_6">6</label>
              </li>
              <li>
                <input class="col2" id="model_5se" type="radio" name="model" value="iPhone 5se" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_5se">5se</label>
              </li>
              <li>
                <input class="col1" id="model_5s" type="radio" name="model" value="iPhone 5s" onclick="modelRes(this.id); sScroll('color_select')"/>
                            <label for="model_5s">5s</label>
              </li>
            </ul>
          </label>

      </div>
    </div>

    <div class="stage" id="color_select">
      <div class="cell">
          <div id="box">
            <ul>
              <li style="color: White;">Select iPhone Screen Color</li>
              <li style="color: White; font-size: 1.5em; font-weight: 200;">(The home button color)</li>
            </ul>
            <div id="color_choice" class="radio_rem">

                <input  id="black_screen" type="radio" name="color" value="Black" onclick="blkBttnSwap(); colorRes(this.id); /*sScroll('estimate')*/"/>
                  <label for="black_screen" style="border-color: Black; color: Black;">Black</label>
                <input  id="white_screen" type="radio" name="color" value="White" onclick="whiteBttnSwap(); colorRes(this.id); /*sScroll('estimate')*/"/>
                  <label for="white_screen" style="border-color: White; color: White;">White</label>
                  <div class="">
                    <button id="done_button" type="button" onclick="update(); sScroll('estimate')"><img src="images/doneButton.png"></button>
                  </div>
            </div>
          </div>
          </div>
    </div>

    <div class="stage" id="estimate">
      <div class="cell">
            <div id="text">
              <p1>Total Cost</p1>
              <br>
              <p3>Screen repairs come with a free tempered glass screen protector</p3>
            </div>
            <div id="price_display">
                <p8>$</p8>
                <p9 id="price"></p9>
            </div>
            <button id="last_step" type="button" onclick="sScroll('UserInfo')"><img src="images/Last_Step_Button.png"></button>
        </div>
    </div>

    <div class="UserInfo" id="UserInfo">
      <ul>
        <br>
        <label style="font-size: 2em; font-weight: 300; padding-top: 1vh; padding-right: 5vh;">Your Name</label>
        <input type="text" placeholder="Mary Poppins" id="NameInput">
        <br><br>
        <label style="font-size: 2em; font-weight: 300; padding-top: 1vh; padding-right: 5vh;">Contact Info</label>
        <input type="text" placeholder="Phone Number or Email" id="ContactInput">
      </ul>
      <input id="submit" type="button" value="Submit" onclick="generate_email(); submitForm(); reset(); addRequest('userInput'); sScroll('body')"/>
    </div>
  </div>
</form>
  <!--script type="module" src="scripts/buttons.js"></script-->
<!--script type="text/javascript" src="./bundle.js"></script-->
  <script src="scripts/buttons.js"></script>
  <script src="scripts/data.js"></script>
  <script src="scripts/smoothScroll.js"></script>
  <!--script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script-->
  <!--script type="text/javascript" src="materialize/js/materialize.min.js"></script-->
</body>

</html>
